* {-moz-box-sizing: border-box; box-sizing: border-box;}

html {
  height: 100%;
  overflow: hidden;
  background-color: white;

}
body > div {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;

}

#allPages{
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: scroll;
}

#allPages div canvas{
  margin: 2px;
  margin-top: 30px;
}

#allPages div{
  border: 0.1em solid black;
  margin: auto;
  margin-bottom: 8px;
  width: 220px;
  position: relative;
}

#allPages div p{
  position: absolute;
  margin: 0px;
  right: 2px;
  top: 1px;
}

img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}

a{
  text-decoration: none;
}

.icone{
  height: 3em;
  width: 3em;
  cursor: pointer;
}

.icone:hover{
  border: 3px solid white;
  border-radius: 2em;
}

header{
  display: flex;
  width: 98%;
  justify-content: space-between;
  height: 8%;
  position: absolute;
  top : 1.7em;
}

/* Style de la partie centrale */
section{
  padding-top: 6em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.contenu{
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /* Decalage  */
  margin-left: auto;
  margin-right: 250px;
  transition: margin-right .5s;
}

.contenu article{
  border-radius: 200px 200px 200px 200px;
  padding: 50px;
  margin: 10px;
}

/* Apparence des bulles */
.contenu article img{
  height: 200px;
  width: 200px;
}

.selection_page{
  display: flex;
  justify-content: space-around;
  padding-top: 0.7em;
  z-index: 1; /* Toujours visible */
}

.pois{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  padding: 1em;
  position: absolute;
  top: 8em;
  right: 2em;
}

.pois .icone{
  height: 5em;
  width: 5em;
  z-index: 2; /* Toujours visible */
}

.pois .icone:hover{
  border: 3px solid white;
  border-radius: 4em;
}

.pois .icone::selected{
  border: 2px solid #61b3dd;
  border-radius: 4em;
  background-color: white;
  background-color: #61b3dd;
}
/* Fin du style de la partie centrale */


/* Style des boutons "terminer" et "vue globale" */
.bouton{
  border: 0em;
  border-radius: 3px;
  background-color: #0080c0; /* bleu clair */
  color: white;
  cursor: pointer;
  margin: 1px;
  padding: 18px;
  font-weight: bold;
  font-size: 1em;
}

.bouton:hover{
  background-color: #61b3dd;
}

/* Style des boutons en rapport avec les textes */
button{
  background-color: inherit;
  border: 0px;
  width: 60px;
  height: 60px;
  padding: 0px;
}

.pages{
  display: flex;
  justify-content: space-around;
  border: 10px double black;
  background-color: lightgray;
}

.canvas-container{
  margin: 10px;
}

.bas_interface{
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  height: 8%;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0.8em;
}

/* Pour le menu hamburger */
#mySidenav,#sidenav {
  height: 75%;
  width: 0;
  margin-top: 100px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color:  #cccccc;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#mySidenav a:hover {
  color: #f1f1f1;
}

#mySidenav a:first-child {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sidenav a:hover {
  color: #f1f1f1;
}

#sidenav a:first-child {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/* Pour les menus à pois */
body > div>div {
  height: 75%;
  width: 0;
  margin-right: 130px;
  margin-top: 100px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color:  #cccccc;
  overflow-x: hidden;
  transition: 0.5s;
}

body > div>div h3 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

body > div>div img {
  height: 50px;
  min-width: 50px;
  margin: 2px;
}

/* Comportement du menu aide */
#aide{
  margin-right: 0px;
}

.photos{
  height: 100px;
  width: 100px;
}

#vueAccueil{
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: -45px;
}


#vueAccueil > img{
 width:500px;
 height: 200px;
}

.photoweb{
  position: absolute;
  top : 100px;
  left : 300px;
}

.photocapi{
  position: absolute;
  top : 100px;
  left : 900px;
}


#vueAccueil article{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 8px solid #1d1d1b;
  border-radius: 5px 5px 5px 5px;
  height: 550px;
  width: 550px;
}

.photoweblog{
  margin-top: -50px;
  height: 220px;
  width: 550px;
  margin-left: 20px;
}
.ocapilog{
  height: 180px;
  width: 450px;
  margin-left: 90px;
}

#vueAccueil article p{
  margin-left: 100px;
  font-size: 1.8em;
  font-family: sans-serif;
  margin-top: 0px;
  margin-bottom: 30px;
}

#vueAccueil .bouton{
  position: absolute;
  bottom: 10px;
  left : 130px;
  background-color: #00cccc;
  margin-left: 70px;
  padding : 12px;
}

#vueAccueil .bouton:hover{
  background-color: #017667;
}

/* Style des appareils en dessous de 800px d'affichage de hauteur */

@media only screen and (max-height: 700px){
  /* On réduit la taille des icones */
  img{
    height: 1.5em;
    width: 1.5em;
  }

  #vueAccueil img{
    background-color: white;
    width: auto;
    height: 700px;
    opacity: 0.65;
  }

  /* On réduit la taille des pois */
  .pois .icone{
    height: 4.3em;
    width: 4.3em;
  }

  /* On réduit la taille des boutons */
  .bouton{
    padding: 15px;
    width: 100px;
    height: 40px;
    font-size: 0.7em;
  }
}

/* Style en dessous de 1100px d'affichage en largeur */
@media only screen and (max-width: 1100px){
  .pois .icone{
    height: 4.3em;
    width: 4.3em;

  }
}
